@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Inter', sans-serif;
  }
  
/* Hide scrollbar but show on scroll */
.scrollbar-fade::-webkit-scrollbar {
  width: 8px;
  transition: opacity 0.3s;
  opacity: 0; /* Initially hidden */
}

.scrollbar-fade:hover::-webkit-scrollbar {
  opacity: 1; /* Visible on hover */
}

.scrollbar-fade::-webkit-scrollbar-thumb {
  background: #c4a47a; /* Scrollbar color */
  border-radius: 8px;
}

.scrollbar-fade::-webkit-scrollbar-track {
  background: transparent;
}
